body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
    
  }
  
  .card {
    border-radius: 10px;
  }
  
  h3 {
    font-weight: bold;
   color: #0069d9;
  }
  
  .btn-outline-secondary {
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .btn-outline-secondary:hover {
    background-color: #0069d9;
    color: #fff;
  }
  
  .form-control {
    border-radius: 8px;
  }
  
  .toggle-password img {
    transition: transform 0.2s;
  }
  
  .toggle-password img:hover {
    transform: scale(1.2);
  }
  